#mapview {
    width: 100%;
    height: 100%;
}

.main {
    position: relative;
    width: 50vw;
    height: 40vh;

}

#basemapToggle {
    position: absolute;
    right: 40px;
    bottom: 20px;
}

#zoom {
    position: absolute;
    right: 40px;
    bottom: 100px;
}

#searchWidget {
    position: absolute;
    right: 40px;
    top: 100px;
}

#scaleBar {
    position: absolute;
    left: 40px;
    bottom: 100px;
}

#BasemapToggle {
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 50;
}

#HomeButton {
    left: 25px;
    position: absolute;
    top: 93px;
    z-index: 50;
}

#LocateButton {
    left: 25px;
    position: absolute;
    top: 130px;
    z-index: 50;
}

#search {
    display: block;
    position: absolute;
    z-index: 2;
    top: 25px;
    left: 75px;
}